<section>
  <hr />
  {% trans %}
    <strong>{{ from }}</strong> mugga-mugga-my_hugs <em>{{ to }}</em> {{ count }} time.
  {% plural count %}
    <strong>{{ from }}</strong> my_hugga-my_hugga-my_hugs <em>{{ to }}</em> {{ count }} times.
  {% endtrans %}
  <hr />
</section>
